body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.login-container, .users-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
  background-color: rgb(184, 162, 165);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #3dde52;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #dbc273;
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-card img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-card p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.pagination {
  text-align: center;
  margin: 20px 0;
}

.edit-form-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.edit-form {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 30px;
}
